In [50]:
import numpy as np
import pandas as pd

In [51]:
#Basic Info

In [52]:
movie_data = pd.read_csv('movie_data.txt', sep = '\t')

In [53]:
df = pd.read_csv('movie_data.txt', sep='\t', names = ['ID', 'Title', 'Year', 'Rating', 'Votes', 'duration', 'Geners'])

In [54]:
df.head()

,ID,Title,Year,Rating,Votes,duration,Geners
0,tt0111161,The Shawshank Redemption (1994),1994,9.2,619479,142 mins.,Crime|Drama
1,tt0110912,Pulp Fiction (1994),1994,9.0,490065,154 mins.,Crime|Thriller
2,tt0137523,Fight Club (1999),1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
3,tt0133093,The Matrix (1999),1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
4,tt1375666,Inception (2010),2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

In [55]:
df = df.set_index('ID')

In [56]:
df.tail(11)

,Title,Year,Rating,Votes,duration,Geners
ID,,,,,,
tt0101356,Another You (1991),1991,4.9,1359,98 mins.,Comedy|Crime
tt0421090,Zerophilia (2005),2005,6.3,1359,90 mins.,Comedy|Romance
tt0067227,The Merchant of Four Seasons (1971),1971,7.6,1359,88 mins.,Drama
tt0339727,Stateside (2004),2004,5.8,1358,97 mins.,Drama|Music|Romance
tt0218581,Scarlet Diva (2000),2000,5.2,1358,91 mins.,Drama
tt0118635,Aprile (1998),1998,6.7,1358,78 mins.,Comedy
tt0807721,Meduzot (2007),2007,7.0,1357,78 mins.,Drama
tt0339642,Daltry Calhoun (2005),2005,5.2,1357,100 mins.,Comedy|Drama|Music|Romance
tt0060880,The Quiller Memorandum (1966),1966,6.5,1356,104 mins.,Drama|Mystery|Thriller
tt0152836,Taal (1999),1999,6.5,1356,179 mins.,Musical|Romance
tt0279977,The Navigators (2001),2001,6.9,1356,96 mins.,Comedy|Drama

In [57]:
 df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
Title       10000 non-null object
Year        10000 non-null int64
Rating      10000 non-null float64
Votes       10000 non-null int64
duration    10000 non-null object
Geners      9999 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 546.9+ KB

In [58]:
df = df.dropna()

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9999 entries, tt0111161 to tt0279977
Data columns (total 6 columns):
Title       9999 non-null object
Year        9999 non-null int64
Rating      9999 non-null float64
Votes       9999 non-null int64
duration    9999 non-null object
Geners      9999 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 546.8+ KB

## Cleaning

1.Drop all the missing rows which contain any column with missing data
2. Convert the duration column to numerical representation of seconds
3. Remove the year from title column

In [60]:
df['Title']= df['Title'].str.slice(0,-6)

In [61]:
df.head()

,Title,Year,Rating,Votes,duration,Geners
ID,,,,,,
tt0111161,The Shawshank Redemption,1994,9.2,619479,142 mins.,Crime|Drama
tt0110912,Pulp Fiction,1994,9.0,490065,154 mins.,Crime|Thriller
tt0137523,Fight Club,1999,8.8,458173,139 mins.,Drama|Mystery|Thriller
tt0133093,The Matrix,1999,8.7,448114,136 mins.,Action|Adventure|Sci-Fi
tt1375666,Inception,2010,8.9,385149,148 mins.,Action|Adventure|Sci-Fi|Thriller

In [62]:
df['duration']=df['duration'].str.slice(0,-5)

In [63]:
df.head()

,Title,Year,Rating,Votes,duration,Geners
ID,,,,,,
tt0111161,The Shawshank Redemption,1994,9.2,619479,142,Crime|Drama
tt0110912,Pulp Fiction,1994,9.0,490065,154,Crime|Thriller
tt0137523,Fight Club,1999,8.8,458173,139,Drama|Mystery|Thriller
tt0133093,The Matrix,1999,8.7,448114,136,Action|Adventure|Sci-Fi
tt1375666,Inception,2010,8.9,385149,148,Action|Adventure|Sci-Fi|Thriller

In [64]:
df1 = df['duration'].str.split('.', expand=True).astype(int)
df['duration']= df1*60

In [65]:
df.head()

,Title,Year,Rating,Votes,duration,Geners
ID,,,,,,
tt0111161,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama
tt0110912,Pulp Fiction,1994,9.0,490065,9240,Crime|Thriller
tt0137523,Fight Club,1999,8.8,458173,8340,Drama|Mystery|Thriller
tt0133093,The Matrix,1999,8.7,448114,8160,Action|Adventure|Sci-Fi
tt1375666,Inception,2010,8.9,385149,8880,Action|Adventure|Sci-Fi|Thriller

##Concatenating

1.Read crew_data.tsv.gz to DataFrame named movie_crew_df with columns ID, director_ids indexed by ID (forget the rest of the columns)
2.Read person_data.tsv.gz to DataFrame named person_df with columns person_ID, name indexed by person_ID (forget the rest of the columns)
3.Merge movie_crew_df into df with IDs and drop the columns without necessary data (hint outer-join)
4.Remove movies with more than one director and rename director_ids => director_id
5.Merge df with person_df on director_id, remove director_id and person_ID columns, rename name => director

In [66]:
movie_crew_df= pd.read_csv('crew_data.tsv', sep='\t', names=["ID","director_ids"],usecols=[0,1],header=0)

In [67]:
movie_crew_df.head()

          ID director_ids
0  tt0000001    nm0005690
1  tt0000002    nm0721526
2  tt0000003    nm0721526
3  tt0000004    nm0721526
4  tt0000005    nm0005690

In [68]:
movie_crew_df =movie_crew_df.set_index('ID')

In [69]:
movie_crew_df.head()

          director_ids
ID
tt0000001    nm0005690
tt0000002    nm0721526
tt0000003    nm0721526
tt0000004    nm0721526
tt0000005    nm0005690

In [70]:
movie_crew_df.shape

(5953930, 1)

In [71]:
person_df =pd.read_csv('name_data.tsv', sep='\t', names=["Person_ID","name"],usecols=[0,1],header=0)

In [72]:
person_df.head()

   Person_ID             name
0  nm0000001     Fred Astaire
1  nm0000002    Lauren Bacall
2  nm0000003  Brigitte Bardot
3  nm0000004     John Belushi
4  nm0000005   Ingmar Bergman

In [73]:
person_df =person_df.set_index('Person_ID')

In [74]:
person_df.head()

                      name
Person_ID
nm0000001     Fred Astaire
nm0000002    Lauren Bacall
nm0000003  Brigitte Bardot
nm0000004     John Belushi
nm0000005   Ingmar Bergman

In [75]:
person_df.head()

                      name
Person_ID
nm0000001     Fred Astaire
nm0000002    Lauren Bacall
nm0000003  Brigitte Bardot
nm0000004     John Belushi
nm0000005   Ingmar Bergman

In [76]:
merged_df = pd.merge(df,movie_crew_df , on='ID', how= 'inner')

In [77]:
merged_df.head()

,Title,Year,Rating,Votes,duration,Geners,director_ids
ID,,,,,,,
tt0111161,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama,nm0001104
tt0110912,Pulp Fiction,1994,9.0,490065,9240,Crime|Thriller,nm0000233
tt0137523,Fight Club,1999,8.8,458173,8340,Drama|Mystery|Thriller,nm0000399
tt0133093,The Matrix,1999,8.7,448114,8160,Action|Adventure|Sci-Fi,"nm0905154,nm0905152"
tt1375666,Inception,2010,8.9,385149,8880,Action|Adventure|Sci-Fi|Thriller,nm0634240

In [78]:
merged_df=merged_df[merged_df["director_ids"].str.len()==9]

In [79]:
merged_df.rename( columns={'director_ids':'director_id'},inplace=True)

In [80]:
merged_df.head()

,Title,Year,Rating,Votes,duration,Geners,director_id
ID,,,,,,,
tt0111161,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama,nm0001104
tt0110912,Pulp Fiction,1994,9.0,490065,9240,Crime|Thriller,nm0000233
tt0137523,Fight Club,1999,8.8,458173,8340,Drama|Mystery|Thriller,nm0000399
tt1375666,Inception,2010,8.9,385149,8880,Action|Adventure|Sci-Fi|Thriller,nm0634240
tt0109830,Forrest Gump,1994,8.7,368994,8520,Comedy|Drama|Romance,nm0000709

In [81]:
df2=pd.merge(merged_df,person_df, how= 'inner', left_on='director_id', right_on='Person_ID')

In [82]:
df2.head()

,Title,Year,Rating,Votes,duration,Geners,director_id,name
0,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama,nm0001104,Frank Darabont
1,The Green Mile,1999,8.4,243660,11340,Crime|Drama|Fantasy|Mystery,nm0001104,Frank Darabont
2,The Mist,2007,7.4,90987,7560,Horror|Sci-Fi|Thriller,nm0001104,Frank Darabont
3,The Majestic,2001,6.8,27241,9120,Drama|Romance,nm0001104,Frank Darabont
4,Pulp Fiction,1994,9.0,490065,9240,Crime|Thriller,nm0000233,Quentin Tarantino

In [83]:
df2.drop(["director_id"], axis = 1, inplace = True)
df2.rename(columns ={'name': 'director'}  , inplace = True)
df2.head()

,Title,Year,Rating,Votes,duration,Geners,director
0,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama,Frank Darabont
1,The Green Mile,1999,8.4,243660,11340,Crime|Drama|Fantasy|Mystery,Frank Darabont
2,The Mist,2007,7.4,90987,7560,Horror|Sci-Fi|Thriller,Frank Darabont
3,The Majestic,2001,6.8,27241,9120,Drama|Romance,Frank Darabont
4,Pulp Fiction,1994,9.0,490065,9240,Crime|Thriller,Quentin Tarantino

##Exploration

1. Find ten most longest movies
2. Find Best rated movies ordered by rating DESC and Title ASC
3. What is the average duration (in minutes) of a movie?
4. Get ten most productive directors
5. How many movie has been made in the 2000's?
6. Get all the movies directed by Akira Kurosawa ordered by year DESC

In [84]:
df2.nlargest(10, ['duration'])

,Title,Year,Rating,Votes,duration,Geners,director
8050,Satantango,1994,8.5,2698,27000,Comedy|Drama|Mystery,Béla Tarr
7949,War and Peace,1967,7.8,2833,25620,Drama|History|Romance|War,Sergey Bondarchuk
5228,Gettysburg,1993,7.7,12093,15660,Drama|History|War,Ron Maxwell
1941,Hamlet,1996,7.7,19698,14520,Crime|Drama|Romance|Thriller,Kenneth Branagh
6242,Love Exposure,2008,8.0,1922,14220,Action|Comedy|Drama|Romance,Sion Sono
8122,La Belle Noiseuse,1991,7.6,2621,14160,Drama,Jacques Rivette
6123,Ludwig,1972,7.6,1581,14100,Biography|Drama|History,Luchino Visconti
341,Once Upon a Time in America,1984,8.4,85533,13740,Crime|Drama,Sergio Leone
4880,Lagaan: Once Upon a Time in India,2001,8.1,14190,13440,Drama|Musical|Romance|Sport,Ashutosh Gowariker
3955,The Ten Commandments,1956,7.9,22789,13200,Adventure|Drama|History,Cecil B. DeMille

In [85]:
df2.sort_values(['Rating','Title'], ascending=(False,True))

,Title,Year,Rating,Votes,duration,Geners,director
145,The Godfather,1972,9.2,474189,10500,Crime|Drama,Francis Ford Coppola
0,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama,Frank Darabont
5634,Outrageous Class,1975,9.0,9823,5220,Comedy|Drama,Ertem Egilmez
4,Pulp Fiction,1994,9.0,490065,9240,Crime|Thriller,Quentin Tarantino
146,The Godfather: Part II,1974,9.0,291169,12000,Crime|Drama,Francis Ford Coppola
339,"The Good, the Bad and the Ugly",1966,9.0,195238,9660,Western,Sergio Leone
631,12 Angry Men,1957,8.9,148155,5760,Drama|Mystery,Sidney Lumet
18,Inception,2010,8.9,385149,8880,Action|Adventure|Sci-Fi|Thriller,Christopher Nolan
215,One Flew Over the Cuckoo's Nest,1975,8.9,255503,7980,Drama,Milos Forman
52,Schindler's List,1993,8.9,325888,11700,Biography|Drama|History|War,Steven Spielberg
21,The Dark Knight,2008,8.9,555122,9120,Action|Crime|Drama|Thriller,Christopher Nolan
10,Fight Club,1999,8.8,458173,8340,Drama|Mystery|Thriller,David Fincher
108,Goodfellas,1990,8.8,270728,8760,Biography|Crime|Drama|Thriller,Martin Scorsese
340,Once Upon a Time in the West,1968,8.8,89764,10500,Western,Sergio Leone
853,Seven Samurai,1954,8.8,111707,12420,Adventure|Drama,Akira Kurosawa
174,Star Wars: Episode IV - A New Hope,1977,8.8,364211,7260,Action|Adventure|Family|Fantasy|Sci-Fi,George Lucas
76,Star Wars: Episode V - The Empire Strikes Back,1980,8.8,320105,7440,Action|Adventure|Family|Sci-Fi,Irvin Kershner
164,The Lord of the Rings: The Fellowship of the R...,2001,8.8,451263,10680,Action|Adventure|Drama|Fantasy,Peter Jackson
165,The Lord of the Rings: The Return of the King,2003,8.8,428791,12060,Action|Adventure|Drama|Fantasy,Peter Jackson
25,Forrest Gump,1994,8.7,368994,8520,Comedy|Drama|Romance,Robert Zemeckis
22,Memento,2000,8.7,325663,6780,Crime|Drama|Mystery|Thriller,Christopher Nolan
4914,My Father and My Son,2005,8.7,14080,6480,Drama,Çagan Irmak
554,Psycho,1960,8.7,168286,6540,Horror|Mystery|Thriller,Alfred Hitchcock
54,Raiders of the Lost Ark,1981,8.7,277941,6900,Action|Adventure,Steven Spielberg
555,Rear Window,1954,8.7,137663,6720,Mystery|Romance|Thriller,Alfred Hitchcock
11,Se7en,1995,8.7,337198,7620,Crime|Drama|Mystery|Thriller,David Fincher
1455,Sunset Blvd.,1950,8.7,64363,6600,Drama|Film-Noir,Billy Wilder
166,The Lord of the Rings: The Two Towers,2002,8.7,383113,10740,Action|Adventure|Drama|Fantasy,Peter Jackson
86,The Silence of the Lambs,1991,8.7,293081,7080,Crime|Thriller,Jonathan Demme
80,The Usual Suspects,1995,8.7,306624,6360,Crime|Mystery|Thriller,Bryan Singer
...,...,...,...,...,...,...,...
6081,Crossover,2006,1.8,7577,5700,Action|Sport,Preston A. Whitmore II
6859,Fat Slags,2004,1.8,1927,4500,Comedy,Ed Bye
8623,Girl in Gold Boots,1968,1.8,2033,5640,Crime|Drama|Music|Romance,Ted V. Mikels
8523,The Apocalypse,2007,1.8,2127,5640,Adventure|Drama|Sci-Fi,Justin Jones
8637,The Creeping Terror,1964,1.8,2027,4500,Sci-Fi|Horror,Vic Savage
3740,The Hottie & the Nottie,2008,1.8,24021,5460,Comedy|Romance,Tom Putnam
8268,The Pod People,1983,1.8,2456,0,Sci-Fi,Juan Piquer Simón
8132,The Wild World of Batwoman,1966,1.8,2606,4200,Action|Comedy|Adventure|Sci-Fi,Jerry Warren
8931,Track of the Moon Beast,1976,1.8,1730,5400,Horror|Sci-Fi,Richard Ashe
6336,Turks in Space,2006,1.8,6370,6600,Action|Comedy|Sci-Fi,Kartal Tibet
5278,Who's Your Caddy?,2007,1.8,11821,5580,Comedy|Sport,Don Michael Paul
8903,A Story About Love,1995,1.7,1748,4200,Romance,Aune Sand
3165,From Justin to Kelly,2003,1.7,18107,4860,Comedy|Family|Musical|Romance,Robert Iscove
6929,Hobgoblins,1988,1.7,4892,5520,Comedy|Horror|Sci-Fi,Rick Sloane
8342,Merlin's Shop of Mystical Wonders,1996,1.7,2362,5520,Fantasy|Horror,Kenneth J. Berton
7517,The Beast of Yucca Flats,1961,1.7,2927,3240,Horror|Sci-Fi,Coleman Francis
8380,The Final Sacrifice,1990,1.7,2280,4680,Adventure|Fantasy|Horror,Tjardus Greidanus
7338,The Hillz,2004,1.7,3915,5460,Crime|Drama,Saran Barnun
8579,Too Beautiful,2005,1.7,2055,5820,Comedy,Ugo Fabrizio Giordani
5923,Zodiac Killer,2005,1.7,2255,4980,Crime,Ulli Lommel
7864,Ram Gopal Varma's Indian Flames,2007,1.6,2511,0,Action|Adventure|Comedy|Crime|Musical,Ram Gopal Varma
7518,The Skydivers,1963,1.6,2113,4500,Drama,Coleman Francis
8792,The Starfighters,1964,1.6,1847,4680,Drama,Will Zens
5922,Zombie Nation,2004,1.6,4299,4860,Crime|Horror,Ulli Lommel
7010,Ben & Arthur,2002,1.5,4675,5100,Drama|Romance,Sam Mraovich
5921,Daniel the Wizard,2004,1.5,8271,4860,Comedy|Crime|Family|Fantasy|Horror,Ulli Lommel
7937,Dream Well,2009,1.5,2848,0,Comedy|Romance|Sport,Gábor Forgács
4085,Manos: The Hands of Fate,1966,1.5,20927,4440,Horror,Harold P. Warren
7516,Night Train to Mundo Fine,1966,1.5,3542,5340,Action|Adventure|Crime|War,Coleman Francis
2027,Superbabies: Baby Geniuses 2,2004,1.5,13196,5280,Comedy|Family,Bob Clark

In [86]:
df2.nlargest(10000, ['Rating'])
df2.head()

,Title,Year,Rating,Votes,duration,Geners,director
0,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama,Frank Darabont
1,The Green Mile,1999,8.4,243660,11340,Crime|Drama|Fantasy|Mystery,Frank Darabont
2,The Mist,2007,7.4,90987,7560,Horror|Sci-Fi|Thriller,Frank Darabont
3,The Majestic,2001,6.8,27241,9120,Drama|Romance,Frank Darabont
4,Pulp Fiction,1994,9.0,490065,9240,Crime|Thriller,Quentin Tarantino

In [87]:
df3 = df2['duration']/60
df3.mean()

104.08161749097856

In [88]:
most_productive=df2.sort_values(['Rating','Votes'], ascending=(False,False))

In [89]:
most_productive.head()

,Title,Year,Rating,Votes,duration,Geners,director
0,The Shawshank Redemption,1994,9.2,619479,8520,Crime|Drama,Frank Darabont
145,The Godfather,1972,9.2,474189,10500,Crime|Drama,Francis Ford Coppola
4,Pulp Fiction,1994,9.0,490065,9240,Crime|Thriller,Quentin Tarantino
146,The Godfather: Part II,1974,9.0,291169,12000,Crime|Drama,Francis Ford Coppola
339,"The Good, the Bad and the Ugly",1966,9.0,195238,9660,Western,Sergio Leone

In [90]:
movies_2000=(df2['Year']>1999) & (df2['Year'] < 2010)

In [91]:
df2[movies_2000]

,Title,Year,Rating,Votes,duration,Geners,director
2,The Mist,2007,7.4,90987,7560,Horror|Sci-Fi|Thriller,Frank Darabont
3,The Majestic,2001,6.8,27241,9120,Drama|Romance,Frank Darabont
5,Kill Bill: Vol. 1,2003,8.2,272983,6660,Action|Crime|Thriller,Quentin Tarantino
7,Kill Bill: Vol. 2,2004,8.0,216272,8160,Crime|Drama|Thriller,Quentin Tarantino
9,Death Proof,2007,7.2,90156,6780,Action|Crime|Thriller,Quentin Tarantino
12,The Curious Case of Benjamin Button,2008,8.0,165459,9960,Drama|Fantasy|Mystery|Romance,David Fincher
14,Zodiac,2007,7.8,111954,9420,Crime|Drama|History|Mystery|Thriller,David Fincher
17,Panic Room,2002,6.9,78014,6720,Thriller,David Fincher
19,Batman Begins,2005,8.3,316613,8400,Action|Crime|Drama|Thriller,Christopher Nolan
20,The Prestige,2006,8.4,258396,7800,Drama|Mystery|Thriller,Christopher Nolan
21,The Dark Knight,2008,8.9,555122,9120,Action|Crime|Drama|Thriller,Christopher Nolan
22,Memento,2000,8.7,325663,6780,Crime|Drama|Mystery|Thriller,Christopher Nolan
23,Insomnia,2002,7.2,79909,7080,Crime|Drama|Mystery|Thriller,Christopher Nolan
27,Cast Away,2000,7.5,123598,8580,Adventure|Drama,Robert Zemeckis
31,Beowulf,2007,6.5,71017,6900,Animation|Action|Adventure|Fantasy,Robert Zemeckis
33,What Lies Beneath,2000,6.5,50207,7800,Horror|Mystery|Thriller,Robert Zemeckis
34,The Polar Express,2004,6.6,34044,6000,Animation|Adventure|Family|Fantasy,Robert Zemeckis
37,A Christmas Carol,2009,6.9,19748,5760,Animation|Comedy|Drama|Family|Fantasy|Horror|S...,Robert Zemeckis
41,Road to Perdition,2002,7.8,96218,7020,Adventure|Crime|Drama|Thriller,Sam Mendes
42,Jarhead,2005,7.1,68259,7500,Biography|Drama|War,Sam Mendes
43,Revolutionary Road,2008,7.5,55970,7140,Drama|Romance,Sam Mendes
44,Away We Go,2009,7.2,19159,5880,Comedy|Drama|Romance,Sam Mendes
45,Avatar,2009,8.1,336855,9720,Action|Adventure|Fantasy|Sci-Fi,James Cameron
58,Indiana Jones and the Kingdom of the Crystal S...,2008,6.5,151439,7320,Action|Adventure,Steven Spielberg
59,Catch Me If You Can,2002,7.8,165029,8460,Biography|Comedy|Crime|Drama,Steven Spielberg
60,Minority Report,2002,7.7,154873,8700,Action|Crime|Mystery|Sci-Fi|Thriller,Steven Spielberg
61,War of the Worlds,2005,6.5,150734,6960,Action|Adventure|Drama|Sci-Fi|Thriller,Steven Spielberg
64,A.I. Artificial Intelligence,2001,7.0,105570,8760,Adventure|Drama|Sci-Fi,Steven Spielberg
65,The Terminal,2004,7.2,95916,7680,Comedy|Drama|Romance,Steven Spielberg
66,Munich,2005,7.7,91407,9840,Drama|History|Thriller,Steven Spielberg
...,...,...,...,...,...,...,...
9372,Shadow Puppets,2007,5.0,1393,0,Horror|Thriller,Michael Winnick
9373,When Nietzsche Wept,2007,6.1,1392,6300,Drama,Pinchas Perry
9374,Night of the Living Dorks,2004,5.8,1391,5340,Comedy|Horror,Matthias Dinter
9379,Drop Dead Sexy,2005,5.1,1383,4980,Comedy,Michael Philip
9380,Tashan,2008,3.7,1380,7200,Action|Comedy|Crime|Drama|Romance,Vijay Krishna Acharya
9381,Novo,2002,5.9,1379,5880,Drama|Comedy|Romance,Jean-Pierre Limosin
9382,Nightmare Man,2006,4.1,1378,5340,Horror|Thriller,Rolfe Kanefsky
9383,Mouth to Mouth,2005,6.4,1377,6180,Drama,Alison Murray
9384,Stolen,2009,5.9,1375,5460,Crime|Drama|Mystery|Thriller,Anders Anderson
9386,Spiders,2000,3.7,1373,5640,Horror|Sci-Fi,Gary Jones
9388,Wonderful World,2009,6.1,1370,5340,Drama|Romance,Joshua Goldin
9390,Filth and Wisdom,2008,5.1,1367,0,Comedy|Drama|Music|Romance,Madonna
9391,Paa,2009,7.1,1380,7980,Comedy|Drama,R. Balki
9392,No More School,2000,6.1,1380,5940,Comedy,Marco Petry
9394,Midsummer,2003,5.9,1376,5640,Drama|Horror|Mystery|Thriller,Carsten Myllerup
9396,Gabriela,2001,5.6,1372,5580,Drama|Romance,Vincent Jay Miller
9397,Lower Learning,2008,3.8,1371,5820,Comedy,Mark Lafferty
9401,Downloading Nancy,2008,5.6,1366,6120,Drama|Thriller,Johan Renck
9402,Eating Out 2: Sloppy Seconds,2006,6.6,1365,4740,Comedy|Romance,Phillip J. Bartell
9403,Dakota Skye,2008,6.4,1363,5340,Drama|Romance,John Humber
9404,Involuntary,2008,7.1,1362,5880,Drama,Ruben Östlund
9406,Mr. and Mrs. Iyer,2002,7.9,1358,7200,Drama,Aparna Sen
9409,Garage,2007,6.9,1356,0,Drama,Lenny Abrahamson
9410,Birdemic: Shock and Terror,2008,2.0,1366,5400,Horror|Romance|Thriller,James Nguyen
9413,Don McKay,2009,6.0,1363,5220,Drama|Thriller|Mystery,Jake Goldberger
9414,Brainstorm,2001,7.8,1362,4440,Drama,Laís Bodanzky
9415,Sex Lives of the Potato Men,2004,4.3,1362,4920,Comedy,Andy Humphries
9419,Zerophilia,2005,6.3,1359,5400,Comedy|Romance,Martin Curland
9420,Stateside,2004,5.8,1358,5820,Drama|Music|Romance,Reverge Anselmo
9421,Daltry Calhoun,2005,5.2,1357,6000,Comedy|Drama|Music|Romance,Katrina Holden Bronson

In [92]:
Akira = df2[df2['director'] == 'Akira Kurosawa']

In [93]:
#Akira=df2[['Title','Year','director']].sort_values(['Year'], ascending = False)

In [94]:
Akira.head()

,Title,Year,Rating,Votes,duration,Geners,director
853,Seven Samurai,1954,8.8,111707,12420,Adventure|Drama,Akira Kurosawa
854,Rashomon,1950,8.4,46250,5280,Crime|Drama|Mystery,Akira Kurosawa
855,Ran,1985,8.3,39096,9720,Action|Drama|War,Akira Kurosawa
856,Yojimbo,1961,8.4,33878,6600,Action|Crime|Drama|Thriller,Akira Kurosawa
857,Ikiru,1952,8.3,18948,8580,Drama,Akira Kurosawa

In [95]:
Akira.sort_values(['Year'], ascending = True)

,Title,Year,Rating,Votes,duration,Geners,director
854,Rashomon,1950,8.4,46250,5280,Crime|Drama|Mystery,Akira Kurosawa
870,The Idiot,1951,7.5,1680,9960,Drama,Akira Kurosawa
857,Ikiru,1952,8.3,18948,8580,Drama,Akira Kurosawa
853,Seven Samurai,1954,8.8,111707,12420,Adventure|Drama,Akira Kurosawa
871,I Live in Fear,1955,7.3,1360,6180,Drama,Akira Kurosawa
858,Throne of Blood,1957,8.1,13559,6600,Drama,Akira Kurosawa
869,The Lower Depths,1957,7.5,1901,8220,Drama,Akira Kurosawa
859,The Hidden Fortress,1958,8.1,12535,8340,Action|Adventure,Akira Kurosawa
865,The Bad Sleep Well,1960,8.0,3356,9060,Crime|Drama|Thriller,Akira Kurosawa
856,Yojimbo,1961,8.4,33878,6600,Action|Crime|Drama|Thriller,Akira Kurosawa
861,Sanjuro,1962,8.1,9739,5760,Action|Drama|Thriller,Akira Kurosawa
863,High and Low,1963,8.3,8603,8520,Crime|Drama|Thriller,Akira Kurosawa
864,Red Beard,1965,8.1,5747,11100,Drama,Akira Kurosawa
867,Dodes'ka-den,1970,7.6,2371,8400,Drama,Akira Kurosawa
862,Dersu Uzala,1975,8.2,9180,8640,Adventure|Drama,Akira Kurosawa
860,Kagemusha,1980,7.9,12492,10800,Drama|History|War,Akira Kurosawa
855,Ran,1985,8.3,39096,9720,Action|Drama|War,Akira Kurosawa
866,Rhapsody in August,1991,7.2,2830,5880,Drama,Akira Kurosawa
868,Madadayo,1993,7.4,1935,8040,Drama,Akira Kurosawa